@media (max-width:1024px) {
    .conteiner {
        width: 768px;
    }

    .top {
        padding-left: 32px;
        padding-right: 32px;

    }

    .top_info {
        background-size: 50%;
        background-position-x: right;
        padding-left: 32px;
        background-position-y: bottom;
        margin-right: 0px;
    }

    .menu {
        margin-right: 32px;
        margin-left: 32px;

    }

    .headerH1 {
        margin-right: 32px;
        margin-left: 32px;
    }

    .paragraphH1 {
        margin-right: 32px;
        margin-left: 32px;
    }

    .bottom_Top_url {
        margin-left: 32px;
    }

    .h3_wwd {
        width: 704px;
        align-self: center;
    }

    .what-we-do {
        display: flex;
        flex-direction: column;
    }

    .what-we-do_conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxWork {
        margin-bottom: 32px;
    }

    .promo_card {
        align-items: center;
    }

    .smart_home {
        width: 704px;
        height: 296px;
        background-size: contain;
        margin: 0;

    }

    .cell_cars_card {
        justify-content: space-between;
        display: flex;
        width: 704px;
    }

    .cell_call {
        width: 336px;
        height: 236px;
        background-size: cover;
    }

    .cars {
        width: 336px;
        height: 236px;
        background-size: cover;

    }

    .footer {
        width: 768px;
    }

    .Talk {
        margin-top: 164px;
        margin-right: 15px
    }

    .under_line {
        height: 321px;
    }

    .h4_header_footer {
        width: 336px;
        height: 82px;
        padding-left: 124px;
        padding-top: 47px;
        margin-bottom: 32px;
    }

    .paragraph_footer {
        width: 336px;
        height: 96px;
        padding: 0px;
        padding-left: 124px;

    }


    .under_line_contact {
        flex-direction: column;

    }

}