   $widthTable: 500px;

   @media (max-width: 500px) {




       * {
           margin: 0 auto;
           padding: 0px;
           font-family: sans-serif;
           // align-content: center;
       }

       .conteiner {
           width: $widthTable;
           display: flex;
           flex-direction: column;

           .hearding {
               max-width: $widthTable;
               background-image: url(img/FoneHearding.png);
               background-size: cover;
               margin-top: 5px;
               height: 376px;
               margin-bottom: 48px;


               .menu {
                   display: flex;
                   justify-content: space-between;
                   margin: 0;
                   padding: 0;
                   padding-left: 32px;
                   padding-right: 32px;

                   .url_menu_logo {
                       margin: 0;
                   }

                   .url_menu_book {
                       margin: 0;
                   }

               }

               .Hearding_backgraund_content {



                   .hearding_Content {
                       max-width: 500px;
                       margin-top: 3px;

                       .hearding_text {
                           font-weight: 300;
                           font-size: 48px;
                           line-height: 74px;
                           letter-spacing: 0.04em;
                           color: #1F3F68;
                           margin-left: 16px;
                           text-align: center;

                       }

                       .content_text {

                           font-weight: 400;
                           font-size: 16px;
                           line-height: 26px;
                           text-align: center;
                           letter-spacing: 0.05em;
                           color: #1F3F68;
                           opacity: 0.6;
                       }



                   }

                   .bottom_heading {
                       font-weight: 400;
                       font-size: 16px;
                       line-height: 26px;
                       text-align: center;
                       letter-spacing: 0.04em;
                       color: #FFFFFF;
                       background: #5A98D0;
                       width: max-content;
                       border-radius: 10px;

                       .bottom_headimg_text {
                           padding: 1px 5px 1px 5px;
                           margin-top: 32px;

                           .text_url {
                               text-decoration: none;
                               letter-spacing: 0.04em;
                               color: #FFFFFF;

                           }
                       }

                   }
               }
           }

           .what_we_do {
               .what_we_do_header {
                   font-weight: 300;
                   font-size: 36px;
                   line-height: 46px;
                   text-align: center;
                   letter-spacing: 0.05em;
                   color: #000000;
                   margin-top: 64px;
               }

               .what_we_do_content {
                   display: flex;
                   flex-direction: column;

                   margin-top: 64px;
                   margin-bottom: 64px;
               }

               .what_we_do_box {

                   .what_we_do_box_content {
                       width: 359px;
                       height: 480.13px;
                       background: #FFFFFF;
                       box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                       border-radius: 10px;
                       margin-bottom: 32px;

                       .img_box {
                           padding-left: 70px;
                           padding-top: 44px;
                       }

                       .box_text_top {
                           font-weight: 400;
                           font-size: 20px;
                           line-height: 30px;
                           letter-spacing: 0.05em;
                           color: #1F3F68;
                           padding-left: 29px;
                           width: 283px;
                           margin-top: 32px;
                           // padding-top: 51px;
                       }

                       .box_text_under {
                           font-weight: 400;
                           font-size: 16px;
                           line-height: 26px;
                           letter-spacing: 0.05em;
                           color: #1F3F68;
                           opacity: 0.6;
                           width: 268.31px;
                           height: 94.2px;
                           margin-top: 14px;
                           margin-bottom: 32px;
                           padding-left: 29px;
                           width: 268px;
                       }

                       .url_in_box {
                           text-decoration: none;
                           font-weight: 400;
                           font-size: 14px;
                           line-height: 30px;
                           letter-spacing: 0.05em;
                           color: #5A98D0;
                           padding-left: 55px;


                       }


                   }
               }





           }

           .promo {



               .promo_header {
                   font-weight: 300;
                   font-size: 36px;
                   line-height: 46px;
                   text-align: center;
                   letter-spacing: 0.05em;
                   color: #000000;
               }

               .promo_text {
                   font-weight: 400;
                   font-size: 16px;
                   line-height: 26px;
                   text-align: center;
                   letter-spacing: 0.05em;
                   color: #222222;
                   width: 341px;

                   margin-top: 32px;
                   margin-bottom: 64px;


               }

               .smart_home {
                   max-width: 400px;
                   height: 144px;
                   background-image: url(img/SmartHome.png);
                   background-size: 100%;
                   margin-bottom: 32px;
                   background-position: center;


                   .smart_text {
                       font-weight: 400;
                       font-size: 16px;
                       line-height: 19px;
                       text-align: right;
                       padding-top: 16px;
                       padding-right: 16px;
                       color: #FFFFFF;
                   }

               }

               .promo_card_car_content {
                   display: flex;

                   flex-direction: column;




                   .card_1 {
                       background-image: url(img/cellcall.png);
                       background-position: center;
                       background-size: 100%;
                       width: 400px;
                       height: 255px;
                       border-radius: 10px;
                       margin-bottom: 16px;
                   }

                   .card_1_text {
                       font-weight: 400;
                       font-size: 28px;
                       line-height: 46px;
                       letter-spacing: 0.05em;
                       color: #FFFFFF;
                       padding-left: 32px;
                       padding-top: 32px;
                   }

                   .card_2 {
                       background-image: url(img/cars.png);
                       background-position: center;
                       background-size: 100%;
                       width: 400px;
                       height: 255px;
                       border-radius: 10px;
                       margin-bottom: 16px;
                   }

                   .car_text {
                       font-weight: 400;
                       font-size: 28px;
                       line-height: 46px;
                       letter-spacing: 0.05em;
                       color: #FFFFFF;
                       padding-left: 32px;
                       padding-top: 32px;
                   }

               }



           }

           .footer_content {
               background-color: #316099;

               margin-top: 64px;
               width: $widthTable;

               .under_line {
                   display: flex;
                   height: 310px;
                   flex-direction: column;
                   max-width: 343px;

                   .under_text {
                       .text_header {
                           font-weight: 400;
                           font-size: 24px;
                           line-height: 28px;
                           text-align: center;
                           height: 51px;
                           margin-top: 16px;

                           color: #FFFFFF;

                       }

                       .text_offer {
                           font-weight: 400;
                           font-size: 16px;
                           line-height: 26px;
                           letter-spacing: 0.05em;
                           color: #FFFFFF;
                           opacity: 0.6;
                           width: 336px;
                           margin-top: 32px;
                           text-align: center;
                       }
                   }

                   .under_bottom {
                       height: 31px;
                       background: #5A98D0;
                       margin-top: 40px;
                       width: 108px;


                       .talk {
                           text-decoration: none;
                           font-weight: 400;
                           font-size: 16px;
                           line-height: 26px;
                           text-align: center;
                           letter-spacing: 0.04em;
                           color: #FFFFFF;
                           box-sizing: border-box;
                           padding-top: 3px;
                           padding-left: 19px;

                       }

                   }


               }



               .upper_line {
                   display: flex;
                   height: 232px;

                   .list_info {
                       font-size: 16px;
                       line-height: 26px;
                       letter-spacing: 0.05em;
                       color: #FFFFFF;
                       margin-left: 40px;
                       margin-top: 16px;
                   }

                   .text_contact_info {
                       margin-bottom: 24px;
                       max-width: 304px;
                   }

                   .contact_info {
                       font-weight: 400;
                       font-size: 16px;
                       line-height: 26px;
                       letter-spacing: 0.05em;
                       color: #FFFFFF;
                       text-decoration: none;
                       height: 50px;

                   }

               }

               .rights {
                   font-weight: 400;
                   font-size: 16px;
                   line-height: 26px;
                   text-align: center;
                   letter-spacing: 0.05em;
                   color: #FFFFFF;
                   opacity: 0.4;
                   margin-top: 64px;
                   margin-left: 90px;
                   text-align: center;
                   margin-bottom: 32px;
               }



           }






       }

   }