@media (max-width: 580px) {

    /* .conteiner {
        width: 376px;
    } */

    .top_info {
        display: flex;
        justify-content: center;
        text-align: center;
        background: none;
    }

    .paragraphH1 {
        margin: 32px;
        padding: 32px;
    }

    .bottom_Top_url {
        padding: 10px;
        margin-right: 100px;
    }

    .under_line {
        height: 310px;
        display: flex;
        flex-direction: column;

    }

    .upper_line {
        padding: 0;
        text-align: center;
        margin-left: 75px;
    }

    .Talk {
        margin-left: 250px;
        margin-top: 0;
    }

    .line {
        margin-top: 70px;
    }

}